$buttonColor: #275A53; 
$textColor: #fff;
$normalText: #16322E;
$lightBackground: #F1F6F4;
$mute: #6D6F74;



%button-shared {
  background-color:$buttonColor;
  color: $textColor; 
}


.background{
  background-image:url('../../images/Rectangle\ 13.png'); 
  background-repeat: no-repeat;
  background-position: bottom center; 
//   background-attachment: fixed;
  height: 600px;
  background-size: cover;
    
}
.bg-color{
    background-color: #00000091;
    height: 100%;
}
.btn{
    @extend %button-shared;
}
h1 {
    color: $normalText ;
}
.price{
    color: $buttonColor;
}
.shared-color{
    color: $normalText  ;
}
.shared-bg{
    background-color: $lightBackground;
}
.footer-bg{
    background-color:$buttonColor;
}
.lightTextColor{
 color: $buttonColor;
}
.text{
    color: $mute;
}
 